//! **************************************************************************
// Written by: Map L.33 on Mon Jun 14 03:20:05 2010
//! **************************************************************************

SCHEMATIC START;
COMP "dRAM_ce" LOCATE = SITE "R6" LEVEL 1;
COMP "dRAM_lb" LOCATE = SITE "K5" LEVEL 1;
COMP "dRAM_ub" LOCATE = SITE "K4" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "T18" LEVEL 1;
COMP "decoder_out<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "decoder_out<1>" LOCATE = SITE "J17" LEVEL 1;
COMP "decoder_out<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "decoder_out<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "decoder_out<4>" LOCATE = SITE "D17" LEVEL 1;
COMP "decoder_out<5>" LOCATE = SITE "F18" LEVEL 1;
COMP "decoder_out<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "dRAM_adv" LOCATE = SITE "J4" LEVEL 1;
COMP "dRAM_clk" LOCATE = SITE "H5" LEVEL 1;
COMP "dRAM_cre" LOCATE = SITE "P7" LEVEL 1;
COMP "switches<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "switches<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "switches<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "switches<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "switches<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "clock" LOCATE = SITE "B8" LEVEL 1;
PIN clock_pin<0> = BEL "clock" PINNAME PAD;
PIN "clock_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "reset" LOCATE = SITE "B18" LEVEL 1;
COMP "key_clock" LOCATE = SITE "R12" LEVEL 1;
PIN key_clock_pin<0> = BEL "key_clock" PINNAME PAD;
PIN "key_clock_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "memory_data_bus<10>" LOCATE = SITE "M3" LEVEL 1;
COMP "memory_data_bus<11>" LOCATE = SITE "M6" LEVEL 1;
COMP "memory_data_bus<12>" LOCATE = SITE "L2" LEVEL 1;
COMP "memory_data_bus<13>" LOCATE = SITE "N4" LEVEL 1;
COMP "memory_data_bus<14>" LOCATE = SITE "R3" LEVEL 1;
COMP "memory_data_bus<15>" LOCATE = SITE "T1" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "P17" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "R16" LEVEL 1;
COMP "flash_ce" LOCATE = SITE "R5" LEVEL 1;
COMP "flash_rp" LOCATE = SITE "T5" LEVEL 1;
COMP "mem_oe" LOCATE = SITE "T2" LEVEL 1;
COMP "mem_we" LOCATE = SITE "N7" LEVEL 1;
COMP "key_data" LOCATE = SITE "P11" LEVEL 1;
COMP "button_0" LOCATE = SITE "H13" LEVEL 1;
COMP "button_1" LOCATE = SITE "E18" LEVEL 1;
COMP "button_2" LOCATE = SITE "D18" LEVEL 1;
COMP "memory_data_bus<0>" LOCATE = SITE "L1" LEVEL 1;
COMP "memory_data_bus<1>" LOCATE = SITE "L4" LEVEL 1;
COMP "memory_data_bus<2>" LOCATE = SITE "L6" LEVEL 1;
COMP "memory_data_bus<3>" LOCATE = SITE "M4" LEVEL 1;
COMP "memory_data_bus<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "memory_data_bus<5>" LOCATE = SITE "P1" LEVEL 1;
COMP "memory_data_bus<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "memory_data_bus<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "memory_data_bus<8>" LOCATE = SITE "L3" LEVEL 1;
COMP "memory_data_bus<9>" LOCATE = SITE "L5" LEVEL 1;
COMP "LCD_data_bus_out<0>" LOCATE = SITE "L15" LEVEL 1;
COMP "LCD_data_bus_out<1>" LOCATE = SITE "K12" LEVEL 1;
COMP "LCD_data_bus_out<2>" LOCATE = SITE "L17" LEVEL 1;
COMP "LCD_data_bus_out<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "LCD_data_bus_out<4>" LOCATE = SITE "K13" LEVEL 1;
COMP "LCD_data_bus_out<5>" LOCATE = SITE "L16" LEVEL 1;
COMP "LCD_data_bus_out<6>" LOCATE = SITE "M14" LEVEL 1;
COMP "LCD_data_bus_out<7>" LOCATE = SITE "M16" LEVEL 1;
COMP "LEDs<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "LEDs<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "LEDs<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "LEDs<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "LEDs<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "LEDs<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "memory_address_bus<10>" LOCATE = SITE "G6" LEVEL 1;
COMP "LEDs<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "memory_address_bus<11>" LOCATE = SITE "G5" LEVEL 1;
COMP "LEDs<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "memory_address_bus<20>" LOCATE = SITE "K3" LEVEL 1;
COMP "memory_address_bus<12>" LOCATE = SITE "G4" LEVEL 1;
COMP "memory_address_bus<21>" LOCATE = SITE "D1" LEVEL 1;
COMP "memory_address_bus<13>" LOCATE = SITE "F2" LEVEL 1;
COMP "memory_address_bus<22>" LOCATE = SITE "K6" LEVEL 1;
COMP "memory_address_bus<14>" LOCATE = SITE "E1" LEVEL 1;
COMP "memory_address_bus<15>" LOCATE = SITE "M5" LEVEL 1;
COMP "memory_address_bus<16>" LOCATE = SITE "E2" LEVEL 1;
COMP "memory_address_bus<17>" LOCATE = SITE "C2" LEVEL 1;
COMP "memory_address_bus<18>" LOCATE = SITE "C1" LEVEL 1;
COMP "memory_address_bus<19>" LOCATE = SITE "D2" LEVEL 1;
COMP "memory_address_bus<0>" LOCATE = SITE "J1" LEVEL 1;
COMP "memory_address_bus<1>" LOCATE = SITE "J2" LEVEL 1;
COMP "memory_address_bus<2>" LOCATE = SITE "H4" LEVEL 1;
COMP "memory_address_bus<3>" LOCATE = SITE "H1" LEVEL 1;
COMP "memory_address_bus<4>" LOCATE = SITE "H2" LEVEL 1;
COMP "memory_address_bus<5>" LOCATE = SITE "J5" LEVEL 1;
COMP "memory_address_bus<6>" LOCATE = SITE "H3" LEVEL 1;
COMP "memory_address_bus<7>" LOCATE = SITE "H6" LEVEL 1;
COMP "memory_address_bus<8>" LOCATE = SITE "F1" LEVEL 1;
COMP "memory_address_bus<9>" LOCATE = SITE "G3" LEVEL 1;
NET "clock_IBUFG1" BEL "clk_mgt/board_clk.GCLKMUX" USELOCALCONNECT;
NET "clock_IBUFG1" BEL "clock_IBUFG_BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

